body{
    background-color: rgb(8, 8, 8);
    color:rgb(252, 3, 3);
    font-family: "Matemasie", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #01740e;
    color: rgb(244, 241, 241);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}